*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: Arial;
}

    /* HEADER */
header{
    max-width: 100%;
    min-height: 135px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.header-wrapper__top{
    min-height: 66px;
    background:  #373737;  
    display: flex;
    justify-content: center;
    width: 100%;
}
.header-wrapper__top-area{
    min-width: 941px;
}
.header-logo{
    display: flex;
    flex-direction: row;
    height: 100%;
    color: #fff;
}
.header-logo__img{
    background: #f26c4f;
    height: 100%;
    min-width: 80px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;  
    position: relative;
    font-weight: 700;
    padding-bottom: 15px;
}
.header-logo__img::after{
    content: '';
    left: 100%;
    top: calc(50% - 13px);
    position: absolute;
    border: 13px solid transparent;
    border-left: 13px solid #f26c4f;
}
.header-logo__text{
   font-size: 18px;
   height: 100%;
   min-width: 120px;
   display: flex;
   justify-content: center;
   align-items: center;  
}
.header-wrapper__bottom{
    min-height: 69px;
    background: #474747;
    display: flex;
    justify-content: center;
}
    /* NAVIGATION */
.header-wrapper__bottom-area{
    min-width: 941px;
}
.nav-area{
    width: 100%;
    height: 100%;
}
.nav-area-list{
    height: 100%;
    display: flex;
    max-width: 425px;
    justify-content: space-between;
    align-items: center;
}
.nav-area-list__item{
    display: block;
    position: relative;
    width: 80%;
    text-align: center;
}
.nav-area-list__item a{
    display: block;
    width: 100%;

}
.nav-area-list__item::after{
    content: '';
    height: 10px;
    width: 1px;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: calc( 50% - 5px);
}
.nav-area-list__item:last-child::after{
    display:none;
}
.nav-area-list__item a{
    font-size: 12px;
    color: #fff;
}
.nav-area-list__item a:hover::before{
   content: '';
   position: absolute;
   width: 50%;
   height: 4px;
   bottom:  -27px;
   background-color:#f26c4f;
   left: 25%;
}

/* MAIN */

        /* SECTION_1    */
main{
    max-width: 100%;
    margin: 0 auto;
}
.social-links-wrapper{
    width: 100%;
    height: 70px;
    background: rgba(0, 0, 0, 0.1);
}
.social-links{
    max-width: 941px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.search-form__input{
    min-width: 300px;
    min-height: 46px;
    box-shadow: 0px 1px 1px 0 #000;
    padding: 17px 20px;
    color: #959595;
    font-size: 12px;
    font-weight: bold;
    background-image: url(iconmonstr-time-2-120.png);
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center;
    background-size: 25px;
    outline-color: #f26c4f;
}
.social-links-items{
    display: flex;
}
.social-links-item{
    margin-left: 32px;
}
.fntawes{
    font-size: 13px;
    color: #8f8f8f;
    display: flex;
}
.fntawes:hover{
    color: #f26c4f;
}
 

/* SECTION_2 */

.content-block-wrapper{
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
}
.content-block-img{
    max-width: 941px; 
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.content-block-img__link{
    min-height: 390px;
    min-width: 630px;
    background-image: url(Layer\ 4.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    position: relative;
    background-position: center;
}
.content-block-img__link::before{
    content: '';
    right: -40px;
    top: 40px;
    position: absolute;
    height: 1px;
    border: 15px solid transparent; 
    border-left: 20px solid #f26c4f;
}
.content-block-img__link::after{
    content: '';
    right: -10px;
    width: 10px;
    height: 100%;
    background-color: #f26c4f;
    position: absolute;
}
.content-block-img__link a{
    display: flex;
    min-height: 60px;
    min-width: 370px;
    background: rgba(0, 0, 0, 0.5);
    align-self:flex-end;
    align-items: center;
    padding-left: 30px;
    font-size: 16px;
    color: #fff;
    letter-spacing: -0.16px;
    transition: all 0.2s;
}
.content-block-img__link a:hover{
    background: rgba(0, 0, 0, 0.3);
}

.content-block-img__info{
    min-width: 300px;
    max-height: 390px;
    background-color: #373737;
    color: #ffffff;
    padding: 42px 42px;
    display: flex;
    flex-direction: column;
}
.content-block-img__info__title{
    font-size: 19px;
    color: #ffffff;
    line-height: 1.26;
    letter-spacing: -0.19px;
    width: 85%;;
}
.content-block-img__info__text{
    margin-top: 12px;
    min-height: 38%;
    overflow: hidden;
    line-height: 1.92;
    font-size: 12px;
    color: #a7a7a7;
}
.content-block-img__info__data{
    margin-top: 20px;
    color: #a7a7a7;
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
}
.fa-clock{
    font-size: 18px;
    font-weight: 700;
}
        /* SECTION_3 */


.cards-block-wrapper{
    padding-top: 15px;
    padding-bottom: 20px;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
}
.cards-block{
    max-width: 941px; 
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.cards-block__item{
    max-width: 300px;
    min-height: 380px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 0 0 #d3d3d3;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}
.cards-block__item__add{   
    width: 100%;
    height: 50%;
    position: relative;
}
.first-item__cards{
    background-image: url(img/Layer\ 6.png);
}
.second-item__cards{
    background-image: url(img/Layer\ 8.png);
}
.last-item__cards{
    background-image: url(img/Layer\ 7.png);
}
.cards-block__item__add a{
    display: block;
    top: 0;
    right: 0;
    position: absolute;
    border: 45px solid transparent;
    border-top: 45px solid #f26c4f; 
    border-right: 45px solid #f26c4f;
    transition: all .3s;
}
.cards-block__item__add a:hover{
    opacity: .7;
}
.cards-block__item__add::after{
    content: '+';
    top: 15px;
    right: 15px;
    position: absolute;
    color: #fff;   
    cursor: pointer;
    font-size: 25px;
}
.cards-block__item__info{
    overflow: hidden;
    width: 100%;
    height: 50%;
    background-color: #fff;
    padding: 20px 32px 15px 28px;
}
.cards-block__item__info-title{
    color: #4f4f4f;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial;
    color: #4f4f4f;
}
.cards-block__item__info-text{
    display: block;
    overflow: hidden;
    height: 30%;
    margin-top: 15px;
    font-size: 12px;
    color: #646464;
    line-height: 2;
}
        /* SECTION_4 */

.blog-block-wrapper{
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
}
.blog-block{
    max-width: 941px; 
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.blog-block__list{
    max-width: 622px;
}
.blog-block__list__main-content{
    overflow: hidden;
    max-height: 173px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 31px 50px 15px 40px;
    position: relative;
    box-shadow: 0px 1px 1px 0 #000;
}
.blog-block__list__main-content:nth-child(2){
    margin-top: 13px;
    padding-bottom: 15px;
}
.blog-block__list__main-content:hover{
    background-color: #f26c4f;
    }
    .blog-block__list__main-content:hover .log-block__list__main-conten__title  {
        color: #fff ;
    }
    .blog-block__list__main-content:hover .log-block__list__main-conten__items{
        color: #fff ;
    }
    .blog-block__list__main-content:hover .log-block__list__main-conten__text{
        color: #fff ;
}
.blog-block__list__main-content::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    background-color: #f26c4f;
    left: 0;
    top: 0;
}
.log-block__list__main-conten__title{
    font-size: 24px;
    color: #474747;
    overflow: hidden;
}
.log-block__list__main-conten__items{
    font-size: 10px;
    color: #8f8f8f;
    max-width: 100%;
    min-width: 80%;
    display: flex;
    margin-top: 10px;
    position: relative;
}
.log-block__list__main-conten__item{
    margin-right: 10%;
}

.fa-star:hover{
    color: #000; 
}
.log-block__list__main-conten__text{
    overflow: hidden;
    display: block;
    font-size: 14px;
    color:#707070;
    line-height: 1.5;
    margin-top: 12px;
}
.blog-block__list__review-content{
    margin-top: 13px;
    min-height: 100px;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 31px 20px 15px 40px;
    position: relative;
    box-shadow: 0px 1px 1px 0 #000;
}
.blog-block__list__review-content::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    background-color: #f26c4f;
    left: 0;
    top: 0;
}
.blog-block__list__review-content:hover{
    background-color: #f26c4f;
    }
    .blog-block__list__review-content:hover .blog-block__list__review-content__title  {
        color: #fff ;
    }
    .blog-block__list__review-content:hover .log-block__list__review-content__list{
        color: #fff ;
}
.review-content__title__unit{
    font-size: 24px;
}
.blog-block__list__review-content__title{
    font-size: 18px;
    color: #474747;
    overflow: hidden; 
    max-height: 25px;
}
.log-block__list__review-content__list{
    font-size: 10px;
    color: #8f8f8f;
    max-width: 80%;
    display: flex;
    margin-top: 10px;
    position: relative;
}
.log-block__list__review-content__item{
    margin-right: 10%;
}
.blog-block__list-add{
    margin-top: 29px;
    min-height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.blog-block__list-add-title{
    justify-content: center;
    display: flex;
    text-shadow: 0px 1px 0 #ffffff;
    font-size: 14px;
    color: #bdbdbd;
    height: 50%;
}
.blog-block__list-add__-wrp__button{
    justify-content: center;
    display: flex;
}
.blog-block__list-add__button{
    margin-top: 5px;
    justify-content: center;
    display: flex;
    color: #bdbdbd;
    font-size: 19px;
    height: 100%;
    width: 20px;
}
.fa-plus-circle:hover{
    color: #f26c4f;
}

.blog-block__article-content{
    margin-top: 25px;
    width: 100%;
    min-height: 375px;
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: 0px 1px 1px 0 #000;
}
.blog-block__article-content:hover{
    background: #f26c4f;
    }
    .blog-block__article-content:hover .article-content__main__title{
        color: #fff;
    }
    .blog-block__article-content:hover .article-content__main__text{
        color: #fff;
    }
    .blog-block__article-content:hover .article-content__main__text span a{
        color: #000;
    } 


.article-content__main{
    min-height: 335px;
    width: 100%;
    padding:30px 43px 10px 50px ;
}
.article-content__main__title{
    font-size: 30px;
    color: #707070;
    line-height: 0.83;
    overflow: hidden;
    height: 35px;
}
.article-content__main__text{
    margin-top: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #707070;
    line-height: 1.71;
    overflow: hidden;
}
.article-content__main__text span a{
    color: #f26c4f;
}
.article-content-main__footer{
    min-height: 40px;
    background-color: #efefef;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding:0 43px 0 50px ;
    align-items: center;
    border-top: 1px solid #000;
}
.article-content-main__footer-data{
    font-size: 12px;
    color: #a2a2a2;
}
.article-content-main__footer-commend{
    color: #a2a2a2;
    font-size: 12px;
}
.fa-heart:hover{
    color: #f26c4f;
}

.blog-block__card-content{
    margin-top: 32px;
    min-height: 480px;
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0px 1px 1px 0 #000;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

}
.card-content__header{
    width: 100%;
    background-image: url(img/Layer\ 13.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    background-position-x: right
}
.card-content__main{
    padding:33px 43px 25px 50px ;
    height: 50%;
    width: 100%;
}
.card-content__main-title{
    font-size: 30px;
    font-weight: bold;
    overflow: hidden;
    color: #707070;
}
.card-content__main-text{
    overflow: hidden;
    font-size: 14px;
    line-height: 1.79;
    color: #949494;
    display: block;
    margin-top: 15px;
    max-height: 91%;
}

.blog-block__card-content-info{
    margin-top: 32px;
    background-color: #ffffff;
    width: 100%;
    min-height: 482px;
    box-shadow: 0px 1px 1px 0 #000;
    padding:55px 43px 5px 50px;
    margin-bottom: 123px;
}
.blog-block__card-content-info:hover{
    background: #f26c4f;
    }
    .blog-block__card-content-info:hover .card-content-info__title{
        color: #fff;
    } 
    .blog-block__card-content-info:hover .card-content-info__text{
        color: #fff;
}

.card-content-info__title{
    min-height: 35px;
    overflow: hidden;
    font-size: 30px;
    color: #707070;
    line-height: 0.83;
    font-weight: bold;

}
.card-content-info__text{
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.79;
    color: #949494;
}

        /* SIDEBAR */

.blog-block__sidebar{
    max-width: 300px;
}
.blog-block__sidebar__card{
    width: 100%;
    max-height: 581px;  
    display: grid;
    grid-template-columns:1fr ;
    grid-template-rows: 1fr 1fr;
}
.blog-block__sidebar__card-header{
    background-image: url(img/Layer\ 9.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}
.blog-block__sidebar__card-content{
    width: 100%;
    box-shadow: 0px 1px 0 0 #d3d3d3;
    background-color: #373737;
    padding:26px 22px 35px 28px ;
    overflow: hidden;
}
.blog-block__sidebar__card-content-title{
    color: #ffffff;
    font-weight: bold;
}
.blog-block__sidebar__card-content-text{
    margin-top: 15px;
    color: #ffffff;
    line-height: 2;
    font-size: 12px;
    overflow: hidden;
}
.blog-block__sidebar__question{
    margin-top: 33px;
    min-height: 180px;
    box-shadow: 0px 1px 0 0 #000000;
    padding:0 2px 22px 5px ;
    width: 100%;
    overflow: hidden;
}
.blog-block__sidebar__question__title{
    overflow: hidden;
    color: #474747;
    font-weight: bold;
    font-size: 19px;
    line-height: 1.26;
    letter-spacing: -0.19px;
}
.blog-block__sidebar__question_text{
    overflow: hidden;
    margin-top: 20px;
    font-size: 12px;
    color: #a7a7a7;
    line-height: 1.92;
    max-height: 90px;
}
.blog-block__sidebar__question__footer{
    margin-top: 12px;
    font-size: 12px;
    line-height: 1.75;
    letter-spacing: 0.12px;
    color: #8f8f8f;
}
.blog-block__sidebar__question-next{
    box-shadow: none;
}
.blog-block__sidebar__dev{
    margin-top: 25px;
    width: 100%;
    min-height: 200px;
    overflow: hidden;
}
.blog-block__sidebar__dev-list{
    width: 100%;
    height: 100%;
    display: block;
}
.blog-block__sidebar__dev-list__item{
    display: block;
    min-height: 44px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 1px 1px 0 #000;
    margin-bottom: 7px;
    padding:13px 25px;
    font-size: 16px;
    font-weight: bold;
    color: #474747;
    letter-spacing: -0.16px;
    position: relative;
}
.blog-block__sidebar__dev-list__item::after{
    content: '';
    width: 3px;
    height: 100%;
    background-color: #cacaca;
    left: 0;
    top: 0;
    position: absolute;
}
.blog-block__sidebar__dev-list__item span{
    font-family: Arial;
    font-size: 12px;
    color: #a7a7a7;
    line-height: 1.92;
}

        /* FOOTER */

.footer-wrapper{
    width: 100%;
    background:  #373737; 
    min-height: 140px;
}
.footer-wrapper-area{
    overflow: hidden;
    max-width: 941px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 37px 100px 20px 0;
}

.footer-list{
    display: flex;

}
.footer-list__item{
    margin-right: 10px;
}
.footer-list__item a{
    font-size: 12px;
    line-height: 3.42;
    color: #ffffff;
    overflow: hidden;
}
.footer-list__item a:hover{
    color: #f26c4f;
}
.footer-text{
    max-height: 50%;
    font-size: 11px;
    color: #7e7e7e;
    line-height: 1.91;
    overflow: hidden;
}



        









        /* MEDIA@ADAPTIVE */



@media screen and (max-width: 960px) {
    .header-logo{
        margin-left: 20px;
    }
    .nav-area-list{
        margin-left: 20px;
    }
    .header-wrapper__top-area{
        min-width: 100%;
    }
    .header-wrapper__bottom-area{
        min-width: 100%;
    }
    .social-links{
        max-width: 100%;
    }
    .search-form__input{
        margin-left: 20px;
    }
    .social-links-items{
        margin-right: 20px;
    }
    .content-block-img{
        max-width: 100%; 
    }
    .content-block-img__link{
        min-width: 68%;
    }
    .content-block-img__info{
        min-width: 30%;
        padding: 25px;
        padding-top: 30px;
    }
    .content-block-img__info__text{
        max-height: 62%;
    }
    .cards-block__item{
        max-width: 31%;
    }
    .cards-block__item__info-title{
        font-size: 20px;
    }
    .blog-block{
        flex-direction: column;
        max-width: 100%;
    }
    .blog-block__list{
        min-width: 90%;
        margin: 0 auto;
    }
    .log-block__list__main-conten__title{
        min-height: 30px;
    }
    .blog-block__sidebar{
        min-width: 100%;
    }
    .blog-block__sidebar__card-content{
        padding: 30px 43px 10px 50px;
    }
    .blog-block__sidebar__card-content-text{
        max-height: 50%;
    }
    .blog-block__sidebar__card-header{
        min-width: 100%;
        background-size: cover;
    }
    .blog-block__sidebar__question{
        padding: 30px 43px 10px 50px;
    }
    .blog-block__sidebar__question__title{
        text-align: center;
    }
    .blog-block__sidebar__dev-list__item{
        padding-left: 50px;
    }
    .footer-wrapper-area{
        width: 100%;
        padding: 20px;
    }
    
   
   
}

@media screen and (max-width: 768px) {
    .nav-area-list{
        max-width: 80%;
        margin: 0 auto;
    }
    .social-links{ 
        min-height: 120px;
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr ;

    }
    .search-form__input{
        min-width: 90%;
        margin-top: 20px ;
    }
    .social-links-items{     
        display: grid;
        margin-right: 15px;
        width: 70%;
        height: 70px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 5px;
        align-items: center;
        margin: 0 auto;
    }
    .social-links-item{
        text-align: center;
        width: 100%; 
        margin: 0;   
     
    }
    .social-links-wrapper{
        height: 100%;  
    }
   
    .content-block-img{
        max-width: 941px; 
        margin: 0 auto;
        display: flex;
       justify-content:center;
       flex-direction: column;
       
    }
    .content-block-img__info__title{
        text-align: center;
        width: 100%;
    }
    .content-block-img__link{
        max-width: 100%;
    }
   .content-block-img__link a{
       min-width: 100%;
       justify-content: center;
       padding: 0;
    }
    .content-block-img__info{
        margin: 5px 0;
        max-width: 100%;
        padding-top: 20px;
    
    }
    .content-block-img__link::before{
        width: 1px;
        height: 1px;  
        border: 20px solid transparent; 
        border-top: 20px solid #f26c4f;
        top: 100%;
        left: calc(50% - 10px);
    }
    .content-block-img__link::after{
        bottom:  -5px;
        width: 100%;
        height: 5px;
        left: 0;
    }
    .cards-block-wrapper{
        padding-top: 0;
    }
    .cards-block{
        justify-content: space-around;
        flex-wrap:wrap;
        padding: 0;
    }
    .cards-block__item{
        min-width: 45%;
        margin-top: 30px;
    }
    .last-item__cards{    
        text-align: center;
        min-width: 95%;
    }
    .cards-block__item__info-text{
        min-height: 50%;
    }
    .blog-block__list{
        max-width: 100%;

    }
    .blog-block__list__main-content{
        width: 100%;
    }
    .log-block__list__main-conten__text{
        min-width: 100%;
    }
    .log-block__list__main-conten__item{
        margin-right: 5%;
    }

    
 
}

@media screen and (max-width: 480px) {
    .header-wrapper__top{
        min-height: 120px;
    }
    .header-logo{
        margin: 0;
    }
    .header-logo__img{
        background: #f26c4f;
        height: 100%;
        min-width: 33%;
        font-size: 50px;
        display: flex;
        justify-content: center;
        align-items: center;  
        position: relative;
    }
    .header-logo__text{
        font-size: 25px;
        margin-left: 30px;
    }
    .nav-area-list{
        max-width: 100%;
        margin:0;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 3fr 3fr 1fr;
        grid-template-rows: repeat(3 ,1fr);
        grid-gap: 10px;
    }
    .header-wrapper__bottom{
        min-height: 150px;
    }
    .nav-area-list__item::after{
        display: none;
    }
    .nav-area-list__item{
        text-align: center;
        width: 100%;
    }
    .nav-area-list__item a{
        font-size: 14px;

        
    }
    .nav-area-list__item:nth-child(1){
       grid-column:2/3 ;
       grid-row:1/2 ;
    }
    .nav-area-list__item:nth-child(2){
        grid-column: 3/4;
        grid-row: 1/2;
    }
    .nav-area-list__item:nth-child(3){
        grid-column:2/3 ;
        grid-row: 2/3;
    }
    .nav-area-list__item:nth-child(4){
        grid-column:3/4 ;
        grid-row: 2/3;
    }
    .nav-area-list__item:nth-child(5){
        grid-column:2/4 ;
        grid-row: 3/4;
    }
    .nav-area-list__item a:hover::before{
        content: '';
        position: absolute;
        width: 100px;
        height: 2px;
        bottom:  -10px;
        left: calc(50% - 50px);
        background-color:#f26c4f;
     }
     .social-links{
         display: grid;
         grid-template-columns: 1fr;
         grid-template-rows: 1fr 1fr;
        
     }
     .search-form{
         margin-top: 10px;
     }
     .social-links-items{
         display: grid;
         grid-gap: 5px;
         min-width: 100%; 
         
     }
     .social-links-item{
         margin: 0;
         width: 50%; 
         justify-self: center;
     }

    .fntawes{
        font-size: 12px;
    }
    .cards-block__item{
        min-width: 95%;
    }
    .blog-block__list__main-content{
        padding: 25px 5px 15px 5px;
    }
    .log-block__list__main-conten__title{
        text-align: center;
        font-size: 22px;
    }
    .log-block__list__main-conten__text{
        font-size: 12px;
        line-height: 22px;
    }
    
    .blog-block__list__review-content{
        padding: 31px 5px 15px 5px;
    }
    .log-block__list__main-conten__items{
        justify-content: space-around;
    }
    .log-block__list__main-conten__item:last-child{
        margin-right: 0;
    }

    .blog-block__list__main-content::before{
        display: none;
    }
    .card-content__main{
        padding:20px;
    }
    .article-content__main{
        padding:20px;
    }
    .blog-block__card-content-info{
        padding:20px;
    }
    .blog-block__card-content{
        overflow: hidden;
        padding-bottom: 20px;
    }   
    .log-block__list__review-content__list {
        max-width: 100%;
        justify-content: center;
    }
    .blog-block__list__review-content__title{
        text-align: center;
    }
    .blog-block__list__review-content::before{
        display: none;
    }   
    .fa-star{
        font-size: 7px;
    }
    .blog-block__sidebar__card-content{
        padding: 20px;
    }
    .blog-block__sidebar__question{
        padding: 20px;
    }
    .footer-list{
        flex-wrap:wrap;
    }
    
   

    
  
}
@media screen and (max-width: 320px) {
    .header-logo__img{
        display: none;
    }
    .header-logo__text{
        min-width: 100%;
        margin: 0;
        font-size: 30px;
        color: #f26c4f;
    }
    .header-wrapper__bottom {
        min-height: 80vh;
    }
    .nav-area-list{
        max-width: 100%;
        margin:0;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 3fr 3fr 1fr;
        grid-template-rows: repeat(5 ,1fr);
        grid-gap: 10px;
    }
   
    .nav-area-list__item a{
        font-size: 35px;
    }
    .nav-area-list__item:nth-child(1){
       grid-column:2/4 ;
       grid-row:1/2 ;
    }
    .nav-area-list__item:nth-child(2){
        grid-column:2/4 ;
        grid-row: 2/3;
    }
    .nav-area-list__item:nth-child(3){
        grid-column:2/4 ;
        grid-row: 3/4;
    }
    .nav-area-list__item:nth-child(4){
        grid-column:2/4 ;
        grid-row: 4/5;
    }
    .nav-area-list__item:nth-child(5){
        grid-column:2/4 ;
        grid-row: 5/6;
    }
    .nav-area-list__item:hover::before{
        width: 150px;
        height: 4px;
        bottom:  -15px;
        left: calc(50% - 75px);
     }
     .social-links-wrapper{
         min-height: 100px;
     }
     .search-form{
         width: 100%;
     }
     .search-form__input{
         width: 80%;
     }
     .social-links{
        max-height: 370px;
     }
     .social-links-items{
         display: grid;
         grid-template-columns: 1fr; 
         grid-template-rows: none;
         grid-gap: 0;
         min-height: 250px;
        }
     .social-links-item:nth-child(1){
         min-width: 70%;
         height: 50%;
         margin: 0 auto;
         text-align: center;
     }
     .social-links-item:nth-child(2){
         min-width: 70%;
         height: 50%;
         margin: 0 auto;
         text-align: center;
     }
     .social-links-item:nth-child(3){
         min-width: 70%;
         height: 50%;
         margin: 0 auto;
         text-align: center;
     }
     .social-links-item:nth-child(4){
         min-width: 70%;
         height: 50%;
         margin: 0 auto;
         text-align: center;
     }
     .fntawes{
         text-align: center;
         font-size: 22px;
     }
     .cards-block__item{
        min-width: 100%;
    }
    .blog-block__list__main-content{
        padding: 25px 15px 25px 15px;
    }
    .blog-block__list__main-content:nth-child(2){
        padding-bottom: 25px;
    }
    .log-block__list__main-conten__item{
        font-size: 7px;
    }
    .article-content__main__title{
        font-size: 24px;
    }
     
  


}

/* 
960

768

480

320 */